@import "base/variable";

.accordion-container{
    position: relative; width: 100%;
    .accordion-item{
        overflow: hidden; min-height: 70px; margin-bottom: 10px;
        border: dashed 1px #dedede; border-radius: 5px;
        &.show{
            background-color: $primary-color-light;
            .head{
                i{
                    @include minus();
                }
            }
            .body{display: block;}
        }
        .head{
            display: flex; align-items: center;
            border-radius: 5px; padding: 20px;
            cursor: pointer;
            i{
                @include plus();
                width: 30px; height: 30px; flex:0 0 30px;
                display: inline-flex; align-items: center; justify-content: center;
                border-radius: 100%; margin-right: 10px;
                background-color: #fff;
            }
        }
        .body{
            display: none; overflow: hidden;
            height: 0; 
            .wrapper{
                position:relative; overflow: hidden;
                padding: 0 20px 20px 60px;
                border-radius: 5px;
            }
        }
    }
}