@function map-collect($maps...){
    $collection: ();
    @each $map in $maps {
        $collection: map-merge($collection, $map);
    }
    @return $collection ;
}

$plugins: map-collect(
    $appearance,
    $align-items,
    $align-self,
    $background-attachment,
    $background-clip,
    $background-color,
    $background-opacity,
    $background-image,
    $background-position,
    $background-repeat,
    $background-size,
    $base-color,
    $border-collapse,
    $border-color,
    $border-opacity,
    $border-radius,
    $border-style,
    $border-width,
    $box-shadow,
    $box-sizing,
    $clear,
    $text-color,
    $column,
    $container,
    $cursor,
    $display,
    $flex-direction,
    $flex-grow,
    $flex-shrink,
    $flex-wrap,
    $flex,
    $float,
    $font-family,
    $font-size,
    $font-smoothing,
    $font-style,
    $font-weight,
    $height,
    $justify-content,
    $justify-items,
    $justify-self,
    $letter-spacing,
    $line-height,
    $list-style-position,
    $list-style-type,
    $margin,
    $max-height,
    $max-width,
    $min-height,
    $min-width,
    $object-fit,
    $object-position,
    $opacity,
    $order,
    $overflow-wrap,
    $overflow,
    $overscroll-behavior,
    $padding,
    $place-content,
    $place-items,
    $place-self,
    $pointer-events,
    $position,
    $resize,
    $table-layout,
    $text-align,
    $text-decoration,
    $text-opacity,
    $text-overflow,
    $text-transform,
    $top-right-bottom-left,
    $inset,
    $transform-origin,
    $transform,
    $transform-translate,
    $transform-rotate,
    $transform-scale,
    $transform-skew,
    $user-select,
    $vertical-align,
    $visibility,
    $white-space,
    $width,
    $word-break,
    $z-index,
    $grid-template-columns,
    $grid-column,
    $grid-column-start,
    $grid-column-end,
    $grid-template-rows,
    $grid-row,
    $grid-row-start,
    $grid-row-end,
    $grid-auto-flow,
    $grid-auto-columns,
    $grid-auto-rows,
    $grid-gap,
    $grid-row-gap,
    $grid-column-gap,
    $isolation,
    $mix-blend-mode,
    $background-blend-mode,
    $filter,
    $filter-blur,
    $filter-brightness,
    $filter-contrast,
    $filter-grayscale,
    $filter-hue-rotate,
    $filter-invert,
    $filter-saturate,
    $filter-sepia,
    $backdrop-filter,
    $backdrop-filter-blur,
    $backdrop-filter-brightness,
    $backdrop-filter-contrast,
    $backdrop-filter-grayscale,
    $backdrop-filter-hue-rotate,
    $backdrop-filter-invert,
    $backdrop-filter-saturate,
    $backdrop-filter-sepia,
    $fill,
    $stroke,
    $stroke-width,
    $stroke-linecap,
    $stroke-dasharray,
    $outline-style,
    $outline-width,
    $outline-color,
    $outline-offset,
    $outline,
    $direction
);