// Variables

// Breakpoints
$screen-xs: 0;
$screen-sm: 425px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1366px;

// Media queries min/max
$screen-property: min-width;

// Theme Color
$primary:     #FAE898;
$secondary:   #999999;
$success:     #198754;
$info:        #0dcaf0;
$warning:     #ffc107;
$danger:      #dc3545;
$dark:        #333333;
$light:       #f1f1f1;
$black:       #000000;
$white:       #ffffff;


// Custom Color
$red:     #EF4444;
$green:   #10B981;
$blue:    #3B82F6;
$yellow:  #FBBF24;
$pink:    #EC4899;
$purple:  #8B5CF6;
$gray:    #6B7280;